<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <meta name="description" content="{{description}}">
    <link rel="icon" type="image/png" href="{{favicon}}">
    <link rel="stylesheet" href="assets/css/style.css"/>

    <meta property="og:type" content="{{og.type}}">
    <meta property="og:url" content="{{og.url}}">
    <meta property="og:title" content="{{ og.title or title }}">
    <meta property="og:image" content="{{ og.image }}">
    <meta property="og:description" content="{{ og.description or description }}">
    <meta property="og:locale" content="it_IT">
</head>
